<%- include ("./partials/header") %>

<main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <div class="container">
            <a href="/"><button type="submit" class="btn btn-primary"> Return Home </button></a>
        </div>
        <div class="blog-post">
            <h3 class="blog-post-title">Most Common Symptoms</h3>
            <ul>
                <li>
                    <p class="blog-post-meta"><b>Fever</b></p>
                </li>
                <li>
                    <p class="blog-post-meta"><b>Dry Cough</b></p>
                </li>
                <li>
                    <p class="blog-post-meta"><b>Tiredness</b></p>
                </li>
            </ul>
        </div>
        <div class="blog-post">
            <h3 class="blog-post-title">Take your precautions!</h3>
            <p class="blog-post-meta"><b>If you have any of the mentioned symptoms either mild or severe please contact your doctor.</b></p>
            <p class="blog-post-meta"><b>Remember that vaccines save lifes so take your shot.</b></p>
            <p class="blog-post-meta"><b>For further information please visit the following links:</b></p>
            <ul>
                <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/coronavirus-disease-covid-19#:~:text=symptoms">World Healt Organization (WHO) Information for Covid 19</a></li>
                <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/index.html">Get your shot!</a></li>
            </ul>
        </div>
      </div>
    </div>
  </main>


<%- include ("./partials/footer") %>